
.dashboard-container{
    padding: 70px 100px 0px 100px;
    
}

/* .dashboard{
    
} */

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 50px 0px 50px;
    gap: 3rem;
}

.dashboard-item {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-box {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .dashboard-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }